.navigation {
  height: 6rem;
  width: 100%;

  @media only screen and (max-width: 768px) {
    border-bottom: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media only screen and (max-width: 768px) {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
      border: none;
      box-shadow: none;
      position: static;
    }
  }

  a,
  span {
    display: inline;
    font-size: 1.9rem;
    font-family: $font-family;
    font-weight: 600;
    color: $fg-color;

    @media only screen and (max-width: 768px) {
      font-size: 1.7rem;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      color: $link-color;
      text-decoration: none;
    }
  }

  .navigation-title {
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      display: inline-block;
      padding-top: 1.1rem;
      font-size: 2rem;
      position: relative;
      z-index: 1000;
    }
  }

  .navigation-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: -1.8rem;
    display: flex;
    position: relative;

    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 999;
      visibility: hidden;
      opacity: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      background-color: $bg-color;
      transition: opacity 0.25s, visibility 0.25s;
    }

    .navigation-item {
      margin: 0;
      position: relative;

      @media only screen and (max-width: 768px) {
        float: none !important;
        text-align: center;
        margin-bottom: 2rem;

        a,
        span {
          line-height: 5rem;
        }
      }

      a,
      span {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    .navigation-search-text {
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    i.fa-search {
      margin-right: 0.5rem;
      font-size: 1.9rem;

      @media only screen and (max-width: 768px) {
        margin-right: 0;
        font-size: 2rem;
      }
    }

    .separator {
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .menu-separator {
      @media only screen and (max-width: 768px) {
        border-top: 2px solid $fg-color;
        margin: 0 8rem;

        span {
          display: none;
        }
      }
    }
  }

  .desktop-toggle {
    @media only screen and (max-width: 768px) {
      display: none !important;
    }
  }

  .mobile-colorscheme-toggle {
    display: none;

    @media only screen and (max-width: 768px) {
      display: block;
      position: absolute;
      right: 7rem;
      top: 2rem;
      font-size: 2.2rem;
      z-index: 1000;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        color: $fg-color !important;
        outline: none !important;
      }

      i {
        color: $fg-color !important;

        &:hover,
        &:focus,
        &:active {
          color: $fg-color !important;
          outline: none !important;
        }
      }
    }
  }

  #dark-mode-toggle {
    font-size: 1.9rem;
    line-height: inherit;
    cursor: pointer;
    display: inline;
    outline: none;
    color: $fg-color !important;

    &:hover {
      color: $link-color !important;
    }

    &:focus {
      outline: none !important;
      color: $fg-color !important;
    }

    @media only screen and (max-width: 768px) {
      font-size: 1.7rem;
    }

    i {
      color: $fg-color !important;
      cursor: pointer;
      outline: none !important;

      &:hover {
        color: $link-color !important;
      }

      &:focus {
        color: $fg-color !important;
        outline: none !important;
      }
    }
  }

  .mobile-colorscheme-toggle {
    outline: none !important;
    color: $fg-color !important;

    &:hover {
      color: $fg-color !important;
    }

    &:focus {
      outline: none !important;
      color: $fg-color !important;
    }
  }

  .mobile-search-button {
    display: none;

    @media only screen and (max-width: 768px) {
      display: block;
      position: absolute;
      right: 2rem;
      top: 6.5rem;
      font-size: 2.3rem;
      z-index: 1000;
      color: $fg-color;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        color: $fg-color !important;
        outline: none;
      }

      i {
        &:hover,
        &:focus,
        &:active {
          color: $fg-color !important;
        }
      }
    }
  }

  .mobile-rss-button {
    display: none !important;

    @media only screen and (max-width: 768px) {
      display: block !important;
      position: absolute !important;
      right: 2rem !important;
      top: 10.5rem !important;
      font-size: 2.3rem;
      z-index: 1000;
      color: $fg-color;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        color: $fg-color !important;
        outline: none;
      }

      i {
        &:hover,
        &:focus,
        &:active {
          color: $fg-color !important;
        }
      }
    }
  }

  .desktop-search {
    @media only screen and (max-width: 768px) {
      display: none !important;
    }
  }

  .desktop-rss {
    @media only screen and (max-width: 768px) {
      display: none !important;
    }
  }

  #menu-toggle {
    display: none;

    @media only screen and (max-width: 768px) {
      display: initial;
      position: relative;
      visibility: hidden;

      &:checked~label>i {
        color: $alt-bg-color;
      }

      &:checked~ul {
        visibility: visible;
        opacity: 1;
      }

      &:focus-visible~label {
        outline-style: auto;
      }
    }
  }

  .menu-button {
    display: none;

    @media only screen and (max-width: 768px) {
      position: absolute;
      right: 2rem;
      top: 2rem;
      display: block;
      font-size: 2.4rem;
      font-weight: 400;
      z-index: 1000;
    }

    i {

      &:hover,
      &:focus {
        color: $alt-fg-color;
      }
    }
  }

  i {
    color: $fg-color;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }
}

// Prevent scrolling when menu is open on mobile
body:has(#menu-toggle:checked) {
  @media only screen and (max-width: 768px) {
    overflow: hidden;
  }
}
